{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Sobre mí - CSGOrecs
{% endblock %}

{% block contenidoPagina %}
<!DOCTYPE html>
       
<style>
    h1 {
      text-align: center    ;
    }

    body {
        text-align: center;
      }
    
    p {
        text-align: center;
      }  

    .center {
        text-align: center;
      }
</style>

<html>
  <body>
    <div class="container mt-4" > 
    &nbsp&nbsp<img src="https://media-exp1.licdn.com/dms/image/C4E03AQE9HlVr6s7LEA/profile-displayphoto-shrink_200_200/0/1656560690674?e=1668038400&v=beta&t=eDw0itJ0qlhHzd7vrKzAAmzMbrvgmzFJrEOmZA9Ur2w" />
    <h1>Facundo Ramirez</h1>
    22 años <br>
    Nací el 7 de Febrero del 2000 en Argentina.
              Tengo 22 años y estoy desarrollando desde
              los 18. Me desempeño en la programación
              pero puedo trabajar en otras ramas de los
              sistemas. Tengo conocimientos medio-alto
              en inglés. Amo el IT world!
      <br>
    <a href="https://www.linkedin.com/in/facundo-ramirez-develop/" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a> <br>
    <a href="https://github.com/facuramirez7" class=" text-dark" target="_blank"><i class="fa-brands fa-github"></i> Github</a> <br>

    </div> 
  </body>
<br>
<br>
<br>
<br>

{% endblock %}