<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'ProyectoFinalApp/base.html' %}
    {% load static %}

    {% block tituloPagina %}
    Servidor {{servidor.nombre}}  - CSGOrecs
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de servidor</title>
</head>
{% block contenidoPagina %}
<section class="text-center">
    <h2>Detalle de servidor:</h2>
    <p>Nombre: {{servidor.nombre}}</p>
    <p>Genero: {{servidor.genero}}</p>
    <a href="{% url 'servidores' %}">Regresar a la lista de servidores</a>
</section>


    
{% endblock %}