{% extends 'BlogApp/base.html' %}

{% load static %}

{% block css %} 
<link href="{% static 'BlogApp/css/criptos/index.css' %}" rel="stylesheet" />
{% endblock %}


{% block titulo %} Criptos {% endblock %}


{% block content %}

<div class="container text-center mt-5">
    <h3>Criptomonedas</h3>
    <img src="https://cdn.forbes.co/2021/03/Criptomonedas.jpg" alt="criptos" style="max-height: 347px; border-radius:50px;" class="mb-4 imagen">
    <div class="text-start">
      <b>¿Qué son?</b>
      <p>Una criptomoneda es un activo digital que emplea un cifrado criptográfico para garantizar su titularidad y asegurar la integridad de las transacciones, y controlar la creación de unidades adicionales, es decir, evitar que alguien pueda hacer copias como haríamos, por ejemplo, con una foto. Estas monedas no existen de forma física: se almacenan en una cartera digital.</p>
      <br>
      <b>¿Cómo funcionan?</b>  
      <p>Las criptomonedas cuentan con diversas características diferenciadoras respecto a los sistemas tradicionales: no están reguladas ni controladas por ninguna institución y no requieren de intermediaros en las transacciones. Se usa una base de datos descentralizada, blockchain o registro contable compartido, para el control de estas transacciones.</p>
      <b>Acciones:</b>
      <ul>
        <li><a href="/BlogApp/cripto/listado">Listado</a></li>
      </ul>
    </div>
    
</div>

{% endblock %}