{% extends 'BlogApp/base.html' %}

{% block titulo %} Listado de criptos {% endblock %}


{% block content %}

<div class="container text-center">
    <h3 class="mb-5 mt-5">Listado de criptomonedas</h3>
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">ISO</th>
            <th scope="col">Precio</th>
            <th scope="col">Lenguaje</th>
            <th scope="col">Es Stable?</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% if error == 0  %}
                <div class="alert alert-success" role="alert">
                  {{ mensaje }}
                </div>
            {% elif error == 1 %}
                <div class="alert alert-danger" role="alert">
                  {{ mensaje }}
                </div>
            {% else %}
            {% endif %}

            {% for cripto in criptos %}
            <tr>
                <td>{{ cripto.nombre }}</td>
                <td>{{ cripto.iso }}</td>
                <td>{{ cripto.precio }}</td>
                <td>{{ cripto.lenguaje }}</td>
                <td>{% if cripto.stable == 1 %} 
                    Si 
                    {% else %} 
                    No 
                    {% endif %}</td>
                <td> 
                    <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href=""><i class="fa-solid fa-trash-can" style="color: red;"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <a name="" id="" class="btn btn-success" href="/BlogApp/cripto/create" role="button">Cargar+</a> 
</div>

{% endblock %}